[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "22.10.0"
isort = "5.10.1"
flake8 = "5.0.4"
twine = "4.0.1"
tqdm = "4.64.1"
pytest = "7.2.0"

[requires]
python_version = "3.10"
